{% extends 'base.html' %}

{% block content %}
<div id="main">
    <div id="content" class="left">
        
        <div class="projects">
            <h3>Tahrirlash</h3>
            <div class="item">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Yangilash">
                    <input type="reset" value="O'z holiga">
                    <a href="{% url 'post_detail' post.pk %}">Bekor qilish</a>
                </form>
                <!-- <div class="cl">&nbsp;</div> -->
            </div>
        </div>
    </div>
    
    <div class="cl">&nbsp;</div>
</div>
{% endblock content %}